<main class="ps-4">
    {{#with pageList}}
    <div class="h2">
        {{title}}
    </div>
    <p class="text-muted">
        {{text}}
    </p>
    {{/with}}
    <div class="col-1">
        <a class="btn btn-primary col-10 mb-2" href="/summary">Summary</a>
        <a class="btn btn-primary col-10 mb-2" href="/education">Education</a>
        <a class="btn btn-primary col-10 mb-2" href="/skills">Skills</a>
        <a class="btn btn-primary col-10 mb-2" href="/work">Work</a>
        <a class="btn btn-primary col-10 mb-2" href="/car">Car</a>
        <a class="btn btn-primary col-10 mb-2" href="/js">Js</a>
        <a class="btn btn-primary col-10 mb-2" href="/facebook">Facebook</a>
        <a class="btn btn-primary col-10 mb-2" href="/mac">Mac</a>
        <a class="btn btn-primary col-10 mb-2" href="/person">Person</a>
        <a class="btn btn-primary col-10 mb-2" href="/program">Program</a>
        <a class="btn btn-primary col-10 mb-2" href="/web">Web</a>
        <a class="btn btn-primary col-10 mb-2" href="/bio">Bio</a>
        <a class="btn btn-primary col-10 mb-2" href="/task21">Task21</a>
        <a class="btn btn-primary col-10 mb-2" href="/task22">Task22</a>
        <a class="btn btn-primary col-10 mb-2" href="/task31">Task31</a>
        <a class="btn btn-primary col-10 mb-2" href="/shophome">Shophome</a>
        <a class="btn btn-primary col-10 mb-2" href="/shopcart">Shopcart</a>
        <a class="btn btn-primary col-10 mb-2" href="/shoporder">Shoporder</a>
        <a class="btn btn-primary col-10 mb-2" href="/shopprofile">Shopprofile</a>
        <a class="btn btn-primary col-10 mb-2" href="/shopreview">Shopreview</a>
        <a class="btn btn-primary col-10 mb-2" href="/shopcatalog">Shopcatalog</a>
    </div>
</main>