<main class="ps-4">
    {{#with pageList}}
    <div class="h2">
        {{title}}
    </div>
    <p class="text-muted">
        {{text}}
    </p>
    {{#with navigation}}
    {{#each links}}
    <div class="flex-column mb-2">
    <a class="btn btn-primary" href="{{href}}">{{text}}</a>
    </div>
    {{/each}}
    {{/with}}
    {{/with}}
</main>